/*Section: Website Font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Oswald:wght@300&family=Roboto&family=Sansita+Swashed&display=swap');

/*Section: Navbar */

.navbar-brand{
    font-family: 'Oswald', sans-serif;    
    font-size: 4.5vh;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #BF1736;
}

.nav-link{
    font-family: 'Oswald', sans-serif;
    font-size: 3vh;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #BF1736;
}

.nav-link:hover{
    color: #a9a9a9;
}

.navbar-brand:hover{
    color: #a9a9a9;
}

.menu{
    color: #a9a9a9;
    font-size: 30px;
}

/*Section: Hero */

.hero-section{
  height: 90vh;
  display: flex;
  align-items: center;
}


.hero-header{
    font-family: 'Oswald', sans-serif;
    color: #a9a9a9;
    font-size: 9vh;
}

.header-name{
    font-family: 'Oswald', sans-serif;
    color: #BF1736;
}

.btn-dark{
    background-color: #BF1736;
    border: solid 2px #BF1736;
    font-size: 3vh;
    color: white;
    letter-spacing: 2px;
    margin: 1rem;
    font-family: 'Oswald', sans-serif;
}

/*Section: Portfolio */

.section-header{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    color: #BF1736;
    font-size: 7vh;
}

.project-container{
    font-family: 'Oswald', sans-serif;
}

.project-title{
    color: #a9a9a9;
    font-size: 5.5vh;
}

.btn-cta{
    background-color: #BF1736;
    border: 1px solid #BF1736;
    font-size: 3.5vh;
    margin-bottom: 1.5rem;
}

.btn-cta-transparent{
    border: 2px solid #BF1736;
    background-color: transparent;
    font-size: 3.5vh;
    color: #BF1736;
    margin-bottom: 1.5rem;
}

.project-brief{
    font-size: 3.5vh;
    margin-bottom: 1rem;
}

.project-tech{
    font-size: 3.5vh;
    margin-bottom: 1rem;
}

.pro-img{
    height: 50vh;
    width: 50vw;
    box-shadow: 2px 2px #a9a9a9;
}